<div class="intro-banner">
    <div class="container grid">
        <div class="showcase-text">
            <h1>Hi, I'm Praveen Singh</h1>
            <p>
                I'm an Engineering Lead and a Full Stack Engineer.
            </p>
            <p>
                I have <b>14+</b> years of Industry experience in building enterprise web applications and <b>7+</b> years of experience in leading a development team. 
            </p>
        </div>
        <div class="showcase-image">
            <div>{% include app/image.html src="praveen.png" %} {% include app/social.html %}</div>
        </div>
    </div>
</div>
