<div class="intro-banner">
    <div class="container grid">
        <div class="showcase-text">
            <h1>Hi, I'm Praveen Singh</h1>
            <p>A Full Stack JavaScript Engineer and Engineering Lead</p>
            <p>
                I am building enterprise grade, scalable, and reactive application with micro-ui and micro-service architecture with 14+ years of industry experience.
            </p>
            <p>{% include app/social.html %}</p>
        </div>
        <div class="showcase-image">
            <div>{% include app/image.html src="praveen.png" %}</div>
        </div>
    </div>
</div>
