<section class="certifications">
    <div class="container grid grid-3">
        <section class="item card">
            {% include app/image.html src="exp/scwcd.jpeg" width="96px"%}
            <h1>SCWCD</h1>
            <h2>Sun Certified Web Component Developer.</h2>
        </section>
        <section class="item card">
            {% include app/image.html src="exp/scjp.jpg" width="96px"%}
            <h1>SCJP</h1>
            <h2>Sun Certified Java Programmer.</h2>
        </section>
        <section class="item card">
            {% include app/image.html src="exp/ibm.png" width="96px"%}
            <h1>IBM SOA</h1>
            <h2>IBM Service Oriented Architect.</h2>
        </section>
    </div>
</section>
