<!-- Stats -->
<section class="education">
    <div class="container grid">
        <section class="item card">
            <h1>Master of Science (MS)</h1>
            <h2>Software System</h2>
            {% include app/image.html src="exp/bits.png" width="112px"%}
            <h3>Birla Institute of Technology and Science (BITS), Pilani</h3>
            <h4>2011-2013</h4>
        </section>
        <section class="item card">
            <h1>Bachelor of Technology (B.Tech.)</h1>
            <h2>Electronics and communication</h2>
            {% include app/image.html src="exp/jiit.png" width="96px"%}
            <h3>Jaypee Institute of Information Technology (JIIT), Noida</h3>
            <h4>2003-2007</h4>
        </section>
    </div>
</section>
