<!-- Stats -->
<section class="experience">
    <div class="container">
        <section class="company grid">
            <div class="logo">
                {% include app/image.html src="exp/intuit.jpeg" width="96px"%}
                <span>Feb 2020 – Present</span>
            </div>
            <div>
                <p>Lead Engineer in Intuits frontend infrastructure.</p>

                <ul class="tech">
                    <li>JavaScript</li>
                    <li>React</li>
                    <li>TypeScript</li>
                    <li>React</li>
                    <li>Redux</li>
                    <li>Apollo/GraphQL</li>
                    <li>Node</li>
                    <li>Java</li>
                    <li>Spring</li>
                </ul>
            </div>
        </section>

        <section class="company grid">
            <div class="logo">
                {% include app/image.html src="exp/canva.png" width="96px"%}
                <span>Sep 2019 – Jan 2020</span>
            </div>
            <div>
                <p>
                    Platform engineer of the Canva App Store to provide a generic and scalable SDK for 3rd party App
                    development and integration.
                </p>
                <ul class="tech">
                    <li>JavaScript</li>
                    <li>React</li>
                    <li>TypeScript</li>
                    <li>CSS Modules</li>
                    <li>MobX</li>
                    <li>Java</li>
                    <li>Spring</li>
                </ul>
            </div>
        </section>

        <section class="company grid">
            <div class="logo">
                {% include app/image.html src="exp/intuit.jpeg" width="96px"%}
                <span>Jan 2014 – Sep 2019</span>
            </div>
            <div>
                <p>
                    Frontend Engineer and tech lead in Intuit’s top-selling global accounting product - QuickBooks
                    Online (QBO). Led the frontend infrastructure of multiple initiatives like India Accounting
                    Compliance, Global and US tax, and Report infrastructure, etc. Profound voice of Frontend and key
                    speaker in UI Summit 2018, 2017 and 2016 in Intuit India (IDC).
                </p>
                <ul class="tech">
                    <li>JavaScript</li>
                    <li>React</li>
                    <li>TypeScript</li>
                    <li>React</li>
                    <li>Redux</li>
                    <li>Apollo/GraphQL</li>
                    <li>Java</li>
                    <li>Node</li>
                </ul>
            </div>
        </section>
        <section class="company grid">
            <div class="logo">
                {% include app/image.html src="exp/bt.jpeg" width="96px"%}
                <span>Feb 2012 – Jan 2014</span>
            </div>
            <div>
                <p>
                    Worked as a full-stack engineer on BT’s e-commerce website - BT.com. Instrumental in revamping a JSP
                    based application to cutting edge Single page application and improved the customer experience as
                    well as the performance of the application.
                </p>
                <ul class="tech">
                    <li>JavaScript</li>
                    <li>Backbone</li>
                    <li>Java</li>
                    <li>Spring</li>
                </ul>
            </div>
        </section>

        <section class="company grid">
            <div class="logo">
                {% include app/image.html src="exp/nokia.png" width="96px"%}
                <span>Dec 2008 – Jan 2012</span>
            </div>
            <div>
                <p>
                    Worked as a Full-stack engineer on Ovi.com - Nokia’s App Store. Part of the “Digital Delivery”
                    service which is a digital catalog of complex rules, to provide targeted services and Apps for a
                    region. Worked on “Aadhaar” (India’s Unique identification service) integration as a key developer.
                    responsible for highly performing and resilient Authentication service, based on ActiveMQ and Spring
                </p>
                <ul class="tech">
                    <li>JavaScript</li>
                    <li>Backbone</li>
                    <li>Java</li>
                    <li>Spring</li>
                </ul>
            </div>
        </section>
    </div>
</section>
