<section class="exp-showcase">
    <div class="container">
        <div class="item card 2x">
            <div class="logo">
                {% include app/image.html src="exp/intuit.jpeg" width="96px"%}
                <span class="bold">Feb 2020 – Present</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="item card">
            <div class="logo">
                {% include app/image.html src="exp/canva.png" width="96px"%}
                <span>Sep 2019 – Jan 2020</span>
            </div>
        </div>

        <div class="item card">
            <div class="logo">
                {% include app/image.html src="exp/intuit.jpeg" width="96px"%}
                <span>Jan 2014 – Sep 2019</span>
            </div>
        </div>

        <div class="item card">
            <div class="logo">
                {% include app/image.html src="exp/bt.jpeg" width="96px"%}
                <span>Feb 2012 – Jan 2014</span>
            </div>
        </div>

        <div class="item card">
            <div class="logo">
                {% include app/image.html src="exp/nokia.png" width="96px"%}
                <span>Dec 2008 – Jan 2012</span>
            </div>
        </div>
    </div>
</section>
