<section class="skills">
    <div class="container">
        <div class="skills-section">
            <div class="skills-container">
                <div class="skills-group">
                    <div class="skills-item">{% include app/image.html src="skills/redux.png" width="96px" %}</div>
                </div>

                <div class="skills-group">
                    <div class="skills-item">
                        {% include app/image.html src="skills/node.png" width="120px" %} <b>Node</b>
                    </div>
                    <div class="skills-item">{% include app/image.html src="skills/ds.png" width="128px" %}</div>
                </div>

                <div class="skills-group">
                    <div class="skills-item">
                        {% include app/image.html src="skills/react-96.png" width="96px" %}
                        <b>React</b>
                    </div>
                    <div class="skills-item">
                        {% include app/image.html src="skills/js-96.png" width="96px" %}
                        <b>JavaScript</b>
                    </div>
                    <div class="skills-item">
                        {% include app/image.html src="skills/ts.png" width="64px" %}
                        <b>TypeScript</b>
                    </div>
                </div>
                <div class="skills-group">
                    <div class="skills-item">
                        {% include app/image.html src="skills/java.png" width="96px" %}
                        <b>Java</b>
                    </div>
                    <div class="skills-item">{% include app/image.html src="skills/spring.png" width="96px" %}</div>
                </div>
                <div class="skills-group">
                    <div class="skills-item">{% include app/image.html src="skills/aws.png" width="96px" %}</div>
                </div>
            </div>
        </div>
    </div>
</section>
