<section class="work-showcase">
    <div class="container">
        <div class="work-item card leader">
            <div class="image-wrap">{% include app/image.html src="work/clipart2606884.png" width="72px" %}</div>
            <h3>Team Lead</h3>
        </div>

        <div class="work-item card ui">
            <div class="image-wrap"> {% include app/image.html src="work/dev-ui.svg"  width="96px"%}</div>
            <h3>Frontend Engineer</h3>
        </div>

        <div class="work-item card back">
            <div class="image-wrap">{% include app/image.html src="work/dev-back.svg" width="96px" %}</div>
            <h3>Backend Engineer</h3>
        </div>
    </div>
</section>
