@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

$mobile-breakpoint: 500px;
$tablet-breakpoint: 768px;

:root {
    --primary-color: #444e5c;
    --primary-color-gradient-end: #565a61;
    --primary-invert-color: #e0ece4;
    --primary-invert-bold-color: #fff;
    --light-color: #f4f4f4;
    --dark-color: #002240;
    --gray-light: #f5f5f5;
    --success-color: #5cb85c;
    --error-color: #d9534f;
    --primary-post-color: #495464;
    --link-hover: #1c3fa8;
    --light-coral: #ebe5ff;
    --light-coral-light: #ebe5ff3a;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    background-image: linear-gradient(180deg,#f3f4f9,#f3f4f9,#fff 75%);
}

.app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    line-height: 1.2;
    margin: 10px 0;
}
h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 400;
}

p {
    margin: 0;
    padding: 0;
    margin-bottom: 1.55rem;
    color: black;
    font-weight: 400;
}

a:hover {
    color: var(--link-hover);
}

img {
    width: 100%;
}

.hidden {
    visibility: hidden;
    height: 0;
}

.primary{
    color: var(--primary-color);
}

.primary-invert{
    color: var(--primary-invert-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.15);
    margin: 30px 0;

    thead {
        th {
            font-size: 18px;
            color: #fff;
            line-height: 1.4;
            background-color: var(--primary-color);
            padding-top: 18px;
            padding-bottom: 18px;
        }
    }

    tbody {
        td {
            font-size: 15px;
            color: #808080;
            line-height: 1.4;
            padding: 15px;
            padding-bottom: 16px;
        }

        tr:nth-child(even) {
            background-color: #f8f6ff;
        }
    }
}

.section-title{
    text-align: center;
    margin-top: 4rem;
    font-size: 22px;
    line-height: 1.63;
    letter-spacing: .5px;
    font-weight: 400;
    color: #32353b;
    position: relative;
    padding: 20px 0;

    &:before {
        width: 40px;
        height: 2px;
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        background-color: #ef4b6c;
        transform: translateX(-50%);
    }
}

.avatar{
    width: 200px;
    border: 4px solid hsla(0, 0%, 100%, 100%);
    border-radius: 200px;
}



@media (max-width: $tablet-breakpoint) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}
