.footer {
    .container {
        display: flex;
        justify-content: space-between;

        @media (max-width: $mobile-breakpoint) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    .bio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p {
        margin-top: 0.5rem;
        color: var(--primary-invert-color);
    }
}

.social {
    a {
        margin-right: 1.2rem;
    }
}
