section.header {
    color: white;
    background-color: #5b9190;
    background-image: linear-gradient(to right top, #5b9190, #5c9695, #5c9b99, #5da09e, #5da5a3);
    padding: 5px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            margin-left: 20px;
            font-size: 1.2rem;
            color: white;

            &:hover{
                color: rgb(238, 231, 231);
            }
        }
    }

    .avatar {
        width: 60px;
        transition: transform 0.2s ease-in;
        @media (max-width: $mobile-breakpoint) {
            width: 50px;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    .logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        h1 {
            font-family: monospace;
            font-size: 42px;
            font-weight: 500;
            color: white;
            letter-spacing: 0.2rem;
        }

        span {
            color: white;
            font-size: 1rem;
            font-style: italic;
        }

        @media (max-width: $mobile-breakpoint) {
            justify-content: center;
            align-items: center;
            h1 {
                font-size: 20px;
                padding: 3px;
                color: white;
                margin-left: 20px;
            }
        }
    }
}
