.intro-banner,
.post-banner {
    background-color: #444e5c;
    border-left: 17px solid rgba(0, 0, 0, 0.2);
    .container {
        padding: 30px 0;
    }
    .grid {
        grid-template-columns: 60% 40%;

        .showcase-image {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            // > div {
            //     display: flex;
            //     flex-direction: column;
            //     justify-content: center;
            //     align-items: center;
            //     .fab {
            //         margin-right: 1rem;
            //     }
            // }
            img {
                width: 180px;
                border: 4px solid hsla(0, 0%, 100%, 100%);
                border-radius: 200px;
                transition: transform 0.2s ease-in;
                
                &:hover {
                    transform: scale(1.1);
                }
            }

        }

        .showcase-text {
            p {
                margin: 1rem 0;
            }
            .bttns {
                margin-top: 2rem;
                a {
                    margin-right: 40px;
                    width: 180px;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }
    }

    a {
        color: white;
        text-decoration: none;
    }

    h1 {
        margin: 1rem 0;
        color: white;
    }

    p {
        color: #dcdfe2;
        line-height: 1.4em;
        font-size: 1rem;
    }

    .icon {
        justify-self: flex-end;
    }
}

.verticals {
    padding-top: 50px;

    .stats-heading {
        max-width: 500px;
        margin: auto;
        margin-bottom: 50px !important;
    }

    .grid {
        display: flex;
        justify-content: center;
        justify-items: center;
    }

    .card {
        width: 200px;
        height: 150px;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 1.2rem;
            color: slategray;
        }
        p {
            font-size: 20px;
            font-weight: bold;
        }
    }

    .group.card {
        transition: transform 0.2s ease-in;
        &:hover {
            transform: scale(1.1);
        }
    }
}
