.showcase.home {
    .container {
        justify-content: space-between;
    }

    .showcase-image{
        transform: translateY(40px);
    }

    @media (max-width: $tablet-breakpoint) {
        & {
            display: none;
        }
    }

    .social {
        color: #ffffff;

        .fab {
            margin-right: 15px;
        }
    }

    h1 {
        font-size: 1.2rem;
        font-weight: bold;
    }

    p {
        margin: 20px 0;
        color: var(--primary-invert-color);
    }

    img {
        width: 300px;
        transform: rotate(3deg);
        border: 4px solid hsla(0, 0%, 100%, 100%);
        border-radius: 10px;
    }
}
