.skills {
    .skills-container {
        display: flex;
        justify-content: center;
        width: 100%;

        .skills-group {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .skills-item {
                border-radius: 16px;
                width: 200px;
                height: 170px;
                padding: 5px;
                background: white;
                margin: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transition: transform 0.2s ease-in;

                &:hover {
                    transform: scale(1.1);
                }
                b {
                    margin-top: 0.6rem;
                    color: slategray;
                }
            }
        }
    }
}

.work-showcase {
    .container {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .work-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 200px;

        background: white;
        padding: 2rem;
        border-radius: 20px;
        transition: transform 0.2s ease-in;

        &:hover {
            transform: scale(1.1);
        }

        // .fas {
        //     color: #17d47f;
        // }

        h3 {
            margin-top: 20px;
            color: slategray;
            letter-spacing: 1.6px;
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: bold;
        }
    }

    .image-wrap {
        width: 120px;
        height: 120px;
        border-radius: 120px;
        display: grid;
        place-content: center;
        img {
            width: 50px;
        }
    }

    .leader {
        .image-wrap {
            background-image: linear-gradient(315deg, #a7dff3 0%, #9ebdfc 74%);
        }
    }

    .ui {
        .image-wrap {
            background-image: linear-gradient(315deg, #ffada2 0%, #ffcfbb 74%);
        }
    }

    .back {
        .image-wrap {
            background-image: linear-gradient(315deg, #ffc58b 0%, #ffebb7 74%);
        }
    }
}

.video-group {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 70px 140px 0 rgba(130, 136, 171, 0.2);
    padding: 20px 0;
    margin: 50px 0;

    h1 {
        margin: 20px;
        text-align: center;
    }

    h2 {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.78;
        letter-spacing: 0.44px;
        color: #8c93bd;
    }

    .videos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .video {
            margin: 10px;
        }
    }
}

.experience {
    .container {
        background: white;
        border-radius: 10px;
        padding: 30px;
        .company {
            margin: 50px 0;
        }
    }
    .grid {
        grid-template-columns: 200px 1fr;
        grid-row-gap: 3rem;
        row-gap: 3rem;
        align-items: flex-start;
    }
    .company {
        .logo {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            span {
                margin: 10px 0;
                color: gray;
                font-size: 0.8rem;
                text-transform: uppercase;
            }
        }
    }

    .tech {
        display: flex;
        gap: 10px;

        li {
            background: #17a2b8;
            color: white;
            border-radius: 3px;
            padding: 0 12px;
            font-size: 0.7rem;
            letter-spacing: 1px;
            line-height: 1.4rem;
            text-transform: uppercase;
        }
    }
}

.education {
    .grid {
        grid-auto-rows: auto;
    }

    .item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 280px;
    }

    h1,
    h2,
    h3,
    h4 {
        text-align: center;
    }

    h1 {
        margin: 1px 0;
    }

    h2 {
        font-size: 1.1rem;
    }
    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: 0.8rem;
    }
}

.certifications {
    .item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 180px;
    }

    h1 {
        margin: 1px 0;
        font-size: 1.1rem;
        margin-top: 1rem;
    }

    h2 {
        font-size: 1rem;
        color: gray;
    }
}
