.skills {
    .skills-container {
        display: flex;
        justify-content: center;
        width: 100%;

        .skills-group {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .skills-item {
                border-radius: 16px;
                width: 200px;
                height: 170px;
                padding: 5px;
                background: white;
                margin: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
               
                b {
                    margin-top: .6rem;
                    color: slategray;
                }
            }
        }
    }
}

.work-showcase {
    .container {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .work-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 250px;

        background: white;
        padding: 2rem;
        border-radius: 20px;

        h3 {
            margin-top: 20px;
            color: slategray;
            letter-spacing: 1.6px;
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: bold;
        }
    }

    .image-wrap {
        width: 120px;
        height: 120px;
        border-radius: 120px;
        display: grid;
        place-content: center;
        img {
            width: 50px;
        }
    }

    .leader {
        .image-wrap {
            background-image: linear-gradient(315deg, #a7dff3 0%, #9ebdfc 74%);
        }
    }

    .ui {
        .image-wrap {
            background-image: linear-gradient(315deg, #ffada2 0%, #ffcfbb 74%);
        }
    }

    .back {
        .image-wrap {
            background-image: linear-gradient(315deg, #ffc58b 0%, #ffebb7 74%);
        }
    }
}

.video-group {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 70px 140px 0 rgba(130, 136, 171, 0.2);
    padding: 20px 0;
    margin: 50px 0;

    h1 {
        margin: 20px;
        text-align: center;
    }

    h2 {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.78;
        letter-spacing: 0.44px;
        color: #8c93bd;
    }

    .videos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .video {
            margin: 10px;
        }
    }
}
