<!-- Stats -->
<section class="verticals">
    <div class="container">
        <div class="grid text-center my-4">
            <a href="/pages/blogs.html">
                <div class="card group">
                    <i class="fas fa-book-reader fa-4x primary"></i>
                    <h1>Blogs</h1>
                </div>
            </a>


            <a href="pages/bio.html">
                <div class="group card">
                    <i class="fas fa-user-tie fa-4x primary"></i>
                    <h1>Portfolio</h1>
                </div>
            </a>
        </div>

        <div class="grid grid-3 text-center my-4">
            <a href="pages/videos.html">
                <div class="group card">
                    <i class="fab fa-youtube fa-3x primary"></i>
                    <h1>Videos</h1>
                </div>
            </a>
            <a href="https://github.com/ipraveen" target="_blank">
                <div class="group card">
                    <i class="fab fa-github fa-3x primary"></i>
                    <h1>GitHub</h1>
                </div>
            </a>

            <a href="https://www.linkedin.com/in/praveenkumarsingh84/" target="_blank">
                <div class="group card">
                    <i class="fab fa-linkedin fa-3x primary"></i>
                    <h1>LinkedIn</h1>
                </div>
            </a>
        </div>
    </div>
</section>
