<div class="intro-banner">
    <div class="container grid">
        <div class="showcase-text">
            <h1>Hi, I'm Praveen Singh</h1>
            <p>
                I'm a Full Stack Engineer and Technical leader. I love programing and building application, and share my experience
                and knowledge online.
            </p>
            <p class="bttns">
                <a href="/pages/blogs.html" class="btn btn-outline">Blogs</a>
                <a href="/pages/bio.html" class="btn btn-outline">Know More</a>
            </p>
        </div>
        <div class="showcase-image">
            <div>{% include app/image.html src="praveen.png" %} {% include app/social.html %}</div>
        </div>
    </div>
</div>
