<div class="intro-banner">
    <div class="container grid">
        <div class="showcase-text">
            <a href="#" class="logo">welcome</a>
            <h1>Hi, I'm Praveen Singh</h1>
            <p>
                I'm a Full Stack Engineer and Technical leader. I love to build application and share my experience online.
            </p>
            {% include app/social.html %}
        </div>
        <div class="showcase-image">{% include app/image.html src="praveen.png" %}</div>
    </div>
</div>
